<!doctype html>
<html>
  <head>
    <title><%=shopName%></title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <h1>This is <%=shopName%> Shop search page</h1>
    <p>Search for drinks you want here</p>

    <form action="/search_result" method="GET">
      <label for="search_box">Name:</label>
      <input id="search_box" type="text" name="search_text">

      <label for="category_box">Category:</label>
      <input id="category_box" type="text" name="category">

      <input type="submit" value="OK" >
    </form>

  </body>
</html>
